<!--プロフィール編集画面-->

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>

      <!--サクセスメッセージ-->
      <p id="notice">
        <%= notice %>
      </p>

      <!--エラーメッセージ-->
      <div class="error">
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <!--プロフィール編集フォーム-->
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
           <label for="inputName">Name</label>
            <%= f.text_field :name %>
        
          <label for="inputImage">Image</label>
            <%= f.attachment_field :profile_image %>  
        
          <label for="inputText">Introduction</label>
            <%= f.text_area :introduction %>
            <%= f.submit class: "Update User" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>