 <!--投稿-->
 <div class="body">
  <div class="container">
   <p id="notice">
    <%= notice %>
   </p>
   
   <!--サイドバー-->
   <div class="row">
     <div class="col-xs-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book_new %> <!--New bookの部分テンプレート-->
      </div>
      
      
      <!--投稿詳細-->
      <div class="col-md-8 offset-md-1">
    		<h2>Book detail</h2>
    		<table class="table table-hover table-inverse">
    		  <tbody>
  		     <tr>
  		      <td>
  		      <%= link_to user_path(@user) do %>
           <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %><br>
           <%= @user.name %>
          <% end %>
  		      </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
      
   </div>
   
  </div>
 </div>