<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Home",  user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "User",  user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "Books", book_user_session_path %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
          
        <% else %>
          <li>
            <%= link_to "Home", root_path %>
          </li>
         <!-- <li>
            <!--%= link_to "About", home_about_path %>
          </li>-->
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path %>
          </li>
        <% end %>
    </header>
    <% if user_signed_in? %>
      redirect_to user_path, notice: "Signed in successfully"
    <% end %>
    
    <% if user_signed_up? %>
      redirect_to user_path, notice: "Welcome! You have signed up successfully"
    <% end %>
    
    <% if user_signed_out? %>
      redirect_to root_path, notice: "Signed out successfully"
    <% end %>
    
    <% if user_updated? %>
      redirect_to user_path, notice: "You have updated user successfully"
    <% end %>
    
    <% if book_created? %>
      redirect_to books_path, notice: "You have created book successfully"
    <% end %>
    
    <% if book_updated? %>
      redirect_to books_path, notice: "You have updated book successfully"
    <% end %>
    
    <%= yield %>
  </body>
</html>
